footer(
    class="footer-4")
        div
            <a href="https://www.paypal.com/paypalme/BankOfTyler" target="_blank" class="donate">Shout me a pint ❤️</a>

                    //- a(href="#")

                    //-     svg(role="img" title="Follow us on Twitter")

                    //-         use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")