.footer-4
    width: 100vw
    margin-top: auto
    padding: rem(20px) 0
    align-items: center
    > div
        margin: 0 auto
        width: 500px
        text-align: center
        > span
            margin-left: 10px