.center
    display: flex
    align-items: center
    justify-content: center

.overflow
    &-hidden
        position: relative
        overflow: hidden

#missingImage
    max-width: 500px
    width: 90%

#bodyCopy
    max-width: 700px
    padding:25px
    border-radius: 5px
    animation-name: fadeIn
    animation-iteration-count: 1
    animation-timing-function: ease-in-out
    animation-duration: 0.5s
    animation-delay: 1s;
    animation-fill-mode:forwards
    background-color:#fef7d5
    margin:0px

@keyframes fadeIn {
  from {
    background-color:#fef7d5
  }
  to {
    background-color:#fff
  }
}

#timeSince u
    animation-name: blinkingLine
    animation-iteration-count:infinite
    animation-timing-function: ease-in-out
    animation-duration: 1s
    animation-delay: 1s;
    animation-fill-mode:forwards


@keyframes blinkingLine {
  from {
     text-decoration:underline
  }
  to {
    text-decoration:none
  }
}