footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")