section(class="canvas front" id="front")

    div(class="content")
        h2 MISSING
        img.className#missingImage(src="/assets/images/global/_linked/scomo-missing.jpg" alt="Where's Scotty?")
        h3 Have you seen this man?

        div
        
        - const oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        - const hours = 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
        - const firstDate = new Date(2021, 6, 2, 11, 46);
        - const secondDate = new Date();
        - const diffDays = Math.round(Math.abs((firstDate - secondDate) / oneDay));
        - const diffHoursRaw = Math.abs((firstDate - secondDate) / hours);
        - const diffHours = Math.abs(Math.round(diffHoursRaw - diffDays * 24))
        
        p It has been <u>#{diffDays} days and #{diffHours} hours</u> since we last saw Scott Morrison.
        p We are starting to get concerned, and his curry is getting cold.