section(class="canvas front" id="front")

    div(class="content")
        h2 MISSING
        img#missingImage(src="/assets/images/global/_linked/scomo-missing-tape.jpg" alt="Where's Scotty?")
        h3 Have you seen this man?

        div
        p It has been <span id="timeSince"><u>#{diffDays} #{daysLabel} and #{diffHours} #{hoursLabel}</u></span> since we last saw Scott Morrison.
        p#tagLine That's about how long it takes for <a href="https://www.abc.net.au/news/2021-07-11/kevin-rudd-australia-covid-pfizer-vaccine-supply-senior-execs/100284902">a former PM to negotiate a new vaccine rollout.</a>
        p#bodyCopy